body {
  margin: 0;
  font-family: 'Roboto';
}

.logo {
  display: block;
  text-decoration: none;
  font-family: 'Pacifico';
  font-size: 30px;
  width: 100%;
  padding-left: 14px;
}

.logo a {
  float: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.colored {
  color: #04BF8A;
}

#lesson {
  text-align: center;
  display: block;
}

#lesson h1 {
  font-weight: bold;
  padding: 20px;
}

#lesson iframe {
  display: inline-block;
}

#back {
  font-size: 20px;
  position:relative;
  color: white;
  display: inline-block;
  margin-top: 20px;
  padding: 2px;
}

.bg-colored {  
  background: #04BF8A;
}
